%head%

<h1>Product Name</h1>

<p class="launch">
<a target="_blank" href="/applications/product-a/">Launch</a>
</p>

<ul class="gallery">
    <li><img src="./images/one.jpg" /></li>
    <li><img src="./images/two.jpg" /></li>
    <li><img src="./images/three.jpg" /></li>
    <li><img src="./images/four.jpg" /></li>
    <li><img src="./images/five.jpg" /></li>
</ul>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
culpa qui officia deserunt mollit anim id est laborum.
</p>

<div class="box-third">
    <h2>Requirements</h2>
    <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>consectetur adipiscing elit</li>
        <li>sed do eiusmod tempor</li>
    </ul>
</div>

<div class="box-third">
    <h2>Platforms</h2>
    <ul>
        <li>Mac OS X using Bluetooth</li>
        <li>Mac OS X using c2proxy</li>
        <li>Windows via c2proxy</li>
        <li>Android using Bluetooth</li>
    </ul>
</div>

<div class="box-third">
    <h2>Setup</h2>
    <ul>
        <li>Do this.</li>
        <li>Do that.</li>
    </ul>
</div>

<p></p>

%foot%
