body {
    max-width: 700px;
    margin: auto;
    padding: 1em;
}
dd {
    margin-bottom: 1em;
}
img {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}
h1 {
    text-align: center;
}

/* colours */
body {
    background-color: #ededed;
    color: #212121;
}
a {
    color: #0057a9;
}

#header {
    width: 100%;
}
#sidebar {
    width: 10em;
    float: left;
}
#main {
    margin-left: 11em;
}

.centre {
    text-align: center;
}

dt {
    font-weight: bold;
}

.ergarcade-logo-dark {
    display: none;
}

table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111;
        color: white;
    }
    a {
        color: #99ccff;
    }
    .ergarcade-logo {
        display: none;
    }
    .ergarcade-logo-dark {
        display: block;
    }

    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }
}

@media (max-width: 500px) {
    #sidebar {
        width: 100%;
    }
    #main {
        margin-left: 0;
    }
}
