<header id="header">
    <a class="brand" href="{{ "/" | absURL }}">
        <img src="{{ "images/ergarcade-64x64.png" | absURL }}" class="ergarcade-logo" alt="ergarcade.com" />
        <img src="{{ "images/ergarcade-dark-64x64.png" | absURL }}" class="ergarcade-logo-dark" alt="ergarcade.com" />
        <span class="brand-name">Erg Arcade</span>
    </a>
    <nav class="navlinks">
        <a class="navlink" href="{{ "/tools/" | absURL }}">Tools</a>
        <a class="navlink" href="{{ "/visualisations/" | absURL }}">Visualisations</a>
        <a class="navlink" href="{{ "/articles/" | absURL }}">Articles</a>
        <a class="navlink" href="https://www.github.com/ergarcade">GitHub</a>
    </nav>
    <button type="button" class="theme-toggle" aria-label="Toggle dark mode" title="Toggle dark mode">&#9788;</button>
</header>
